# File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

from __future__ import annotations

from typing import List, Union
from typing_extensions import Literal

import httpx

from ..._types import Body, Omit, Query, Headers, NotGiven, omit, not_given
from ..._utils import maybe_transform, async_maybe_transform
from ..._compat import cached_property
from ..._resource import SyncAPIResource, AsyncAPIResource
from ..._response import (
    to_raw_response_wrapper,
    to_streamed_response_wrapper,
    async_to_raw_response_wrapper,
    async_to_streamed_response_wrapper,
)
from ...types.zones import user_agent_list_params
from ..._base_client import make_request_options
from ...types.zones.user_agent import UserAgent
from ...types.zones.user_agent_list_response import UserAgentListResponse

__all__ = ["UserAgentsResource", "AsyncUserAgentsResource"]


class UserAgentsResource(SyncAPIResource):
    @cached_property
    def with_raw_response(self) -> UserAgentsResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/keycardai/keycard-python#accessing-raw-response-data-eg-headers
        """
        return UserAgentsResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> UserAgentsResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/keycardai/keycard-python#with_streaming_response
        """
        return UserAgentsResourceWithStreamingResponse(self)

    def retrieve(
        self,
        id: str,
        *,
        zone_id: str,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> UserAgent:
        """
        Returns details of a specific user agent by user agent ID

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not zone_id:
            raise ValueError(f"Expected a non-empty value for `zone_id` but received {zone_id!r}")
        if not id:
            raise ValueError(f"Expected a non-empty value for `id` but received {id!r}")
        return self._get(
            f"/zones/{zone_id}/user-agents/{id}",
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                security={"bearer_auth": True},
            ),
            cast_to=UserAgent,
        )

    def list(
        self,
        zone_id: str,
        *,
        after: str | Omit = omit,
        before: str | Omit = omit,
        expand: Union[Literal["total_count"], List[Literal["total_count"]]] | Omit = omit,
        limit: int | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> UserAgentListResponse:
        """Returns a list of user agents in the specified zone.

        User agents represent
        client software (browsers, desktop apps, CLI tools) registered via OAuth 2.0
        Dynamic Client Registration.

        Args:
          after: Cursor for forward pagination

          before: Cursor for backward pagination

          limit: Maximum number of items to return

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not zone_id:
            raise ValueError(f"Expected a non-empty value for `zone_id` but received {zone_id!r}")
        return self._get(
            f"/zones/{zone_id}/user-agents",
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=maybe_transform(
                    {
                        "after": after,
                        "before": before,
                        "expand": expand,
                        "limit": limit,
                    },
                    user_agent_list_params.UserAgentListParams,
                ),
                security={"bearer_auth": True},
            ),
            cast_to=UserAgentListResponse,
        )


class AsyncUserAgentsResource(AsyncAPIResource):
    @cached_property
    def with_raw_response(self) -> AsyncUserAgentsResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/keycardai/keycard-python#accessing-raw-response-data-eg-headers
        """
        return AsyncUserAgentsResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> AsyncUserAgentsResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/keycardai/keycard-python#with_streaming_response
        """
        return AsyncUserAgentsResourceWithStreamingResponse(self)

    async def retrieve(
        self,
        id: str,
        *,
        zone_id: str,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> UserAgent:
        """
        Returns details of a specific user agent by user agent ID

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not zone_id:
            raise ValueError(f"Expected a non-empty value for `zone_id` but received {zone_id!r}")
        if not id:
            raise ValueError(f"Expected a non-empty value for `id` but received {id!r}")
        return await self._get(
            f"/zones/{zone_id}/user-agents/{id}",
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                security={"bearer_auth": True},
            ),
            cast_to=UserAgent,
        )

    async def list(
        self,
        zone_id: str,
        *,
        after: str | Omit = omit,
        before: str | Omit = omit,
        expand: Union[Literal["total_count"], List[Literal["total_count"]]] | Omit = omit,
        limit: int | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> UserAgentListResponse:
        """Returns a list of user agents in the specified zone.

        User agents represent
        client software (browsers, desktop apps, CLI tools) registered via OAuth 2.0
        Dynamic Client Registration.

        Args:
          after: Cursor for forward pagination

          before: Cursor for backward pagination

          limit: Maximum number of items to return

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not zone_id:
            raise ValueError(f"Expected a non-empty value for `zone_id` but received {zone_id!r}")
        return await self._get(
            f"/zones/{zone_id}/user-agents",
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=await async_maybe_transform(
                    {
                        "after": after,
                        "before": before,
                        "expand": expand,
                        "limit": limit,
                    },
                    user_agent_list_params.UserAgentListParams,
                ),
                security={"bearer_auth": True},
            ),
            cast_to=UserAgentListResponse,
        )


class UserAgentsResourceWithRawResponse:
    def __init__(self, user_agents: UserAgentsResource) -> None:
        self._user_agents = user_agents

        self.retrieve = to_raw_response_wrapper(
            user_agents.retrieve,
        )
        self.list = to_raw_response_wrapper(
            user_agents.list,
        )


class AsyncUserAgentsResourceWithRawResponse:
    def __init__(self, user_agents: AsyncUserAgentsResource) -> None:
        self._user_agents = user_agents

        self.retrieve = async_to_raw_response_wrapper(
            user_agents.retrieve,
        )
        self.list = async_to_raw_response_wrapper(
            user_agents.list,
        )


class UserAgentsResourceWithStreamingResponse:
    def __init__(self, user_agents: UserAgentsResource) -> None:
        self._user_agents = user_agents

        self.retrieve = to_streamed_response_wrapper(
            user_agents.retrieve,
        )
        self.list = to_streamed_response_wrapper(
            user_agents.list,
        )


class AsyncUserAgentsResourceWithStreamingResponse:
    def __init__(self, user_agents: AsyncUserAgentsResource) -> None:
        self._user_agents = user_agents

        self.retrieve = async_to_streamed_response_wrapper(
            user_agents.retrieve,
        )
        self.list = async_to_streamed_response_wrapper(
            user_agents.list,
        )
